{% extends "layout.html" %}
{% block body %} 
<article>
	<table class="ui celled padded table">
  <thead>
    <tr>
    <th class="single line">Event Name</th>
    <th>Description</th>
    <th>Time</th>
    <th>Participants</th>
  	</tr>
  </thead>
  <tbody>
    {% for data in items %}
    <tr>
      <td>
	      <h2 class="ui center aligned header">
          <a href="/event?event_id={{event_dict['id']}}&amp;event_owner=admin">
        	   {{ event_dict["name"] }}
          </a>
        </h2>
      </td>
      <td class="left aligned">
      		{{ items["price"] }}
      </td>
      <td class="single line">
      	   {{ items["iid"] }}
      </td>
      <td>
      	   {{ items["item_condition"] }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</article>


{% endblock %}
