<!DOCTYPE html>
<html>
<head>
  <script src="static/semantic/dist/jquery.min.js"></script>
    
  <title>Campus Trade</title>
</head>
<body>
<div class="ui fixed pointing top menu">
  <div class="item">
    <img src="static/img/logo.png">
  </div>
  <a class="item" id="home" href="/">Campus Trade Home</a>
  <a class="item" id="item" href="/item">Find Items</a>
  {% if request.cookies.get("uid") %}
  {% endif %}
  <a class="item" id="login" href="/login">Log in / Sign up</a>
</div>
<script type="text/javascript">
  var filename = document.location.href.match(/[^\/]+$/);
  console.log(filename);
  if (filename == null) {
  	filename = "home";
  } else {
  	filename = filename[0];
  }
  $("#" + filename)
    .attr('class', 'active item')
  ;
</script>
{% block body %}
{% endblock %}
</body>
<script src="static/semantic/dist/semantic.min.js"></script>
<script src="static/semantic/dist/components/form.js"></script>
<script src="static/semantic/dist/components/transition.js"></script>
</html>
