<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="static/semantic/dist/components/reset.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/site.css">

	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/container.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/grid.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/header.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/image.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/menu.css">

	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/divider.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/segment.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/form.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/input.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/button.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/list.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/message.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/icon.css">

  <link rel="stylesheet" type="text/css" href="static/css/style.css">	
	
  <script src="static/semantic/dist/jquery.min.js"></script>
    
  <title>Foodie</title>
</head>
<body>
<div class="ui fixed pointing top menu">
  <div class="item">
    <img src="static/img/logo.png">
  </div>
  <a class="item" id="home" href="/">Foodie Home</a>
  <a class="item" id="restaurant" href="/restaurant">Find Restaurants</a>
  {% if request.cookies.get("user_id") %}
    <a class="item" id="event" href="/event">Find Events</a>
  {% endif %}
  <a class="item" id="login" href="/login">Log in / Sign up</a>
</div>
<script type="text/javascript">
  var filename = document.location.href.match(/[^\/]+$/);
  console.log(filename);
  if (filename == null) {
  	filename = "home";
  } else {
  	filename = filename[0];
  }
  $("#" + filename)
    .attr('class', 'active item')
  ;
</script>
{% block body %}
{% endblock %}
</body>
<script src="static/semantic/dist/semantic.min.js"></script>
<script src="static/semantic/dist/components/form.js"></script>
<script src="static/semantic/dist/components/transition.js"></script>
</html>
