<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <div class="container">
      <h1>New Post</h1>
      <form action="/post" method="POST">
  <input type="text" name="info" placeholder="Item Information">
  <input type="text" name="location" placeholder="Item Location">
  <input type="text" name="item_condition" placeholder="Item Condition">
  <input type="text" name="price" placeholder="Price">
  <input type="submit" value="Submit">  
 <!-- <br>
       <h1>If blongs to any category below, please click!</h1>
        <li><a href="clothing">Clothing</a></li>
  <li><a href="book">Book</a></li>
  <li><a href="service">Service</a></li>
    </div>
  <li><a href="/">Logout</a></li> -->
</body>



</html>
