<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Please Register</h1>

<li><a href="login_page">login</a></li>
  
  <div class="container">
      <h1>Please Register</h1>
      <form action="/sign_up" method="POST">
  <input type="uid" name="uid" placeholder="uid">
  <input type="school_name" name="school_name" placeholder="school_name">
  <input type="text" name="contact_info" placeholder="contact_info">
  <input type="submit" value="Register">
    </div>
  <h1>Please enter 'Public' for usertype</h1>
</body>


</html>
