<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <li><a href="login">Login</a></li>
  
  <div class="container">
      <h1>Sign Up</h1>
      <form action="/sign_up" method="POST">
  <input type="text" name="uid" placeholder="User ID">
  <input type="text" name="school_name" placeholder="School Name">
  <input type="text" name="contact_info" placeholder="Contact Information">
  <input type="submit" value="Sign Up">
    </div>
</body>


</html>
