<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Please Sign Up</h1>



  <li><a href="login_page">Login</a></li>
  
  <div class="container">
      <h1>Please Register</h1>
      <form action="/register" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="age" placeholder="Age">
  <input type="text" name="usertype" placeholder="Usertype">
  <input type="submit" value="Register">
    </div>
  <h1>Please enter 'Public' for usertype</h1>
</body>


</html>
