<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <li><a href="all_items">All Items</a></li>
  <li><a href="all_clothing">All Clothing</a></li>
  <li><a href="all_book">All Books</a></li>
  <li><a href="all_service">All Services</a></li>
  <li><a href="myitem">My Items</a></li>
  <li><a href="user_reviews">My Reviews</a></li>
  <li><a href="user_comment">My Comments</a></li>
  <li><a href="post">Post New Item</a></li>
  <li><a href="/">Logout</a></li>

</body>


</html>
  
